<nav class="navbar is-transparent has-shadow is-black is-italic mb-2">
    <div class="navbar-brand ">
      <a class="navbar-item mt-0 mb-0" href="#">
       <p class="subtitle has-text-warning">ABC LIMITED</p>
      </a>
      
    <div class="level is-mobile" id="l1" >
      <div class="navbar-burger" data-target="searchhelp" id="Searchone">
        <i class="fa  fa-search p-2" id="searchicon"></i>
</div>
      <div class="navbar-burger" data-target="navbarExampleTransparentExample" id="burgerone">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="navbar-burger" data-target="logout" id="logoutt">
          <i class="fa  fa-sign-out p-2"></i>

      </div>
    </div>
    </div>
  
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item is-italic  is-active is-tab " href="/admin/explore">
         Tournaments
        </a>
        <a class="navbar-item is-italic " href="/admin/create">
        Create Tournament
          </a>
          <a class="navbar-item is-italic " href="/admin/deleted">
      Cancelled Tournaments
          </a>
        
      </div>
  </div>
<div class="navbar-menu" id="searchhelp">
    <div class="navbar-end">
 <div class="navbar-item" id="searchandinput">
            <div class="level is-mobile">
          <p class="control">
       
                <div class="control has-icons-left level-item">
 
                <% if(given_pattern==="") {%>
                <input type="search" name="search" class="input" id="a" placeholder="Search by Tournament Name">
                <%} else {%>
               <input type="search" name="search" class="input" id="a" value="<%= given_pattern %>"  placeholder="Search by Tournament Name">
               <% }%> 
                <span class="icon is-left"><i class="fa fa-search"></i></span>
                
                  
                  <button onclick="searchtour()" class="button is-info is-italic">
                    Search
                  </button>
        
                </div>
            
            </p>
            </div>
            </div>
    </div>
  </div>
  <div class="navbar-menu " id="logout">
      <div class="navbar-end">

       
            <div class="navbar-item ">
        <div class="container has-text-centered">
        <a   href="/logged/logout" class=" button is-danger is-italic">Log out</a>
</div>
            </div>
          </div>
      </div>



     
 
  </nav>
  <div class="container is-widescreen">
   

<style>
a .nav-item .is-active
{
    background-color: aqua;
}

.navbar-brand
{
  display: flex;
}
.navbar-burger
{

  width: 1rem;
  margin: 1rem;

}
@media only screen and (max-width: 1000px) {
 #l1
 {

  display: flex;
  justify-content: flex-end;
   width: 50rem;
 }
}
@media only screen and (min-width: 1000px) {
 #l1
{
  display: none;
  justify-content: flex-end;
   width: 0rem;
}
.navbar-end
{
  margin: 0%;
}

#logout
{

  margin-left: 1%;

}
#searchhelp
{
  margin-left: 23%;

}
}

#Searchone
{
margin-left:50%;
padding-top:0.8rem;
margin-right: 1%;
} 
#burger1
{
  margin-left: 3%;;
margin-right: 0%;
}
#logoutt
{padding-top:0.8rem;

}

</style>
<script>
  document.addEventListener('DOMContentLoaded', function () {

// Get all "navbar-burger" elements
var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Check if there are any nav burgers
if ($navbarBurgers.length > 0) {

// Add a click event on each of them
$navbarBurgers.forEach(function ($el) {
$el.addEventListener('click', function () {

  // Get the target from the "data-target" attribute
  var target = $el.dataset.target;
  var $target = document.getElementById(target);

  // Toggle the class on both the "navbar-burger" and the "navbar-menu"
  $el.classList.toggle('is-active');
  $target.classList.toggle('is-active');

});
});
}

});
window.addEventListener( "pageshow", function ( event ) {
  var historyTraversal = event.persisted || ( typeof window.performance != "undefined" && window.performance.navigation.type === 2 );
  if ( historyTraversal ) {
    // Handle page restore.
    //alert('refresh');
    window.location.reload();
  }
});
var x = document.querySelectorAll(".navbar-start a"); 

var active_tab='<%-active_tab%>'
for(var i=0;i<x.length;i++)
{

  x[i].classList.remove("is-tab"); 
x[i].classList.remove("is-active");


}

x[parseInt(active_tab)-1].classList.add("is-tab");
x[parseInt(active_tab)-1].classList.add("is-active");

function searchtour()
{
  
  console.log(window.location.href);
          const Url = new URL(window.location.href);
          const tour_val = document.getElementById("a").value;
          if(tour_val=="" && Url.search)
          {
              
          window.location.href = Url.pathname;
          }
            if (
   ( tour_val.trim().length > 1 &&
    /^[a-zA-Z ]{1,30}$/.test(tour_val.trim() ) )
  )
  {

  
          Url.searchParams.set("search", tour_val);
     
        
          const ans = Url.pathname + Url.search;
        
          window.location.href = ans;
  }
  else
  {
    return false;
  }
     
       
}





</script>
<style>
  
</style>
</html>