<script>
  $("body").append(
    '<div style="" id="loadingDiv"><div class="loader">Loading...</div></div>'
  );

  $(window).on("load", function () {
  $("section").hide()
    setTimeout(removeLoader, 1000); //wait for page load PLUS two seconds.
  });
  function removeLoader() {
    
    $("#loadingDiv").fadeOut(500, function () {
      // fadeOut complete. Remove the loading div
      $("#loadingDiv").remove(); 
       $("section").show()//makes page more lightweight
    });
  }
  


  

</script>

</script>
