<!DOCTYPE html>
<html lang="en">
  <head>
    <title>403</title>
    <%- include("./partials/heading") %>
    <body>
      <div class="columns is-mobile is-centered">
        <div class="column is-half">
          <figure class="image">
            <img src="/images/a_d.jpg" height="700px" width="700px" />
          </figure>
        </div>
      </div>
    </body>
  </head>
</html>
