<!DOCTYPE html>
<html lang="en">
  <head>
    <title>403</title>
    <%- include("./partials/heading") %>
    <body>
      <div class="columns is-mobile is-centered">
        <div class="column is-half">
          <figure class="image">
            <img src="/images/ad.png" height="700px" width="700px" />
          </figure>
        </div>
      </div>
    </body>
  </head>
  <style>
    @keyframes slideInLeft {
      0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(0);
      }
    }
    figure {
      animation: 1s ease-out 0s 1 slideInLeft;

      padding: 40px;
    }
  </style>
</html>
