<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edit Profile</title>
    <%- include("../partials/heading") %>
    <body>
      <%- include("../partials/user_nav")%>
      <section class="section">
<div class="container is-widescreen m-4">
        <div class="columns is-mobile">
  <div class="column is-three-fifths is-offset-one-fifth m-2">
    <div class="box m-4">

 
    <div class="container">
        <h1 class="title has-text-centered ">Edit Password</h1>
        </div>
       
        <form action="/user/edituserpassword" id="myform" method="post" onsubmit="return validate()">

<div class="field">
   <label class="label">Current Password :<span id="star">*</span></label>
  <div class="control has-icons-left has-icons-right">
    <input class="input " type="password" placeholder="Current Password" id="p1" name="curr_password" required  >
    <span class="icon is-small is-left">
      <i class="fa fa-info"></i>
    </span>
   
    <small></small>
    </div>
    </div>


<div class="field">
   <label class="label">New Password :<span id="star">*</span></label>
  <div class="control has-icons-left has-icons-right">
    <input class="input " type="password" placeholder="New  Password" id="p2" name="new_password1" required  >
    <span class="icon is-small is-left">
      <i class="fa fa-info"></i>
    </span>
   
    <small></small>
    </div>
    </div>
    
<div class="field">
   <label class="label">Retype New  Password :<span id="star">*</span></label>
  <div class="control has-icons-left has-icons-right">
    <input class="input " type="password" placeholder="Retype New Password" id="p3" name="new_password2" required  >
    <span class="icon is-small is-left">
      <i class="fa fa-info"></i>
    </span>
     
    
    <small></small>
    </div>
    </div>

  <% msg.forEach(m => { %>
                  <h2 class="has-text-danger"><%= m %></h2>
                  <%})%>
                  <div class="field has-text-centered mb-0">
            
                    <input type="submit" class="button is-success" value="Change Password" id="btn">
                  </div>
               
                 



        </form>








 </div>
  </div>
</div>
</section>
<script src="/js/edit_user_pass.js"></script>
    </body>
  </head>
   
     <%- include("../partials/footer") %>
  </head>
  </html>
    <style>
    #star
    {
        color: red;
    }
     #searchandinput
    {
      visibility: hidden;
    }
    #searchicon
    {
    visibility: hidden;
    }
    #Searchone
    {
      visibility: hidden;
    }
    small
    {
      color: red;
      font-size: small;
    }
       @keyframes slideInLeft {
          0% {
            transform: translateY(-100%);
          }
          100% {
            transform: translateY(0);
          }
        }
        section {
          animation: 1s ease-out 0s 1 slideInLeft;

          padding: 40px;
        }
 


  </style>
  <script>
    function tog()
    {
        console.log('dhdh');
        var x = document.getElementById(id);
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
    }
  </script>
  </html>