if(refplayer.val=="pending") {
<div class="column is-one-third">
  <div class="card">
    <div class="card-header">
      <p class="card-header-title is-centered"><%=refplayer.play_id.name%></p>
    </div>
    <div class="card-content">
      <p class="card-header-subtitle"><%= obj.sport%></p>
      <% if(obj.sport_type==="team") {%>
      <p>Team</p>
      <p>Number Of Teams : <%=obj.numofteams%></p>
      <p>Players Per Team: <%=obj.playerspteam%></p>
      <% }else {%>
      <p>Single</p>

      <p>Players : <%=obj.number_single_player%></p>
      <p></p>
      <% } %>

      <p>start_date :<%= x %></p>
      <p>end_date :<%= y %></p>
    </div>
    <footer class="card-footer">
      <a href="/admin/tournament/<%= obj._id%>" class="card-footer-item"
        >Add to Team
      </a>
      <a href="/admin/edittournament/<%= obj._id%>" class="card-footer-item"
        >Reject to team</a
      >
    </footer>
  </div>
</div>
} else{} /* // var team_ref_array=team_req_obj.ref_players; var //
status_obj=team_ref_array.find(o => o.play_id===pid); %> */
